document.dtd

<!ELEMENT document (title, node*)>
<!ELEMENT node (title, referrers, references, node*)>
<!ATTLIST node id CDATA #REQUIRED>
<!ATTLIST node file CDATA #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT referrers (path*)>
<!ELEMENT references (path*)>
<!ELEMENT see (path*)>
<!ELEMENT seen (path*)>
<!ELEMENT path (#PCDATA)>
<!ATTLIST path id CDATA #IMPLIED>
